# Warning: This file is Ansible Managed, manual changes will be overwritten on next playbook run.
#

output:
{% if fb_output_logstash %}
  logstash:
    hosts: [{% for output_host in fb_output_addresses-%}"{{ output_host }}:{{ fb_output_port }}{{ '", ' if not loop.last else '"' }}{%- endfor %}]
{% else %}
  elasticsearch:
    hosts: [{% for output_host in fb_output_addresses-%}"http://{{ output_host }}:{{ fb_output_port }}{{ '", ' if not loop.last else '"' }}{%- endfor %}]
{% endif %} 

setup.kibana:
  host: "http://{{ fb_kbn_address }}:{{ fb_kbn_port }}"

filebeat.config.modules.path: ${path.config}/modules.d/*.yml

filebeat.modules:
{% for fb_module in fb_modules-%}
 - module: {{ fb_module }}
{%- endfor %}